<!DOCTYPE html>
<html>
  <html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
<body>
  <h1>
    <%= title %>
  </h1>
  <ul>
    <% personas.forEach(element => { %>
     <li>
      
        <p>Nombre: <%= element.nombre  %></p> 
        <p>Email: <%= element.email %></p> 
        <p>Oficina: <%= element.denominacion %></p>

     </li>
    <% }) %>
  </ul>
</body>

